.btn, .button {
    padding: 7px 25px !important;
    font-weight: bold !important;
    min-width: 190px;
    text-align: center;

    &.sm {
        min-width:90px;
    }
}

.btn:hover, .button:hover {
    background-color: $altColor !important
} 

.btn {
    &.primary {
        background: $primaryColor
    }
    &.secondary {
        background: $secondaryColor
    }
}


@media (max-width: 420px) {
    #welcome-select-plan-nxt-btn {
        width: 100%;
    }
}