.click {
    cursor: pointer
}

.float-right {
    float:right;
}

.text-right {
    text-align: right;
}

.um-field-checkbox-option {
    margin-bottom: 45px !important;
}

.select-all-none {
    // font-weight: bold;
    font-size: 12px;
    .select-all {
        color: $secondaryColor
    }
    .select-none {
        margin-left: 15px;
        // color: $secondaryColor
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}