.list-wrapper {
    list-style-type: none;
    margin: 0;
    .list-item {
        margin-bottom:10px;

        &.list-col-1-of-3 {
            display:inline-block; 
            width: 33%
        }
    }
}

.list-header {
    font-weight: bold;
    h3 {
        line-height:115%;
        margin: 0 !important;
        padding: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 1.3em
    }
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .select-all-wrapper {
        padding: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    .list-wrapper .list-col-1-of-3 {
        display: block !important;
        width: 100% !important;
    }

    .list-header .float-right {
        float: none;
        display: block;
    }

    .list-header {
        h3 {
            margin-bottom: 15px !important;
        }
    }
}