.no-padding {
    padding: 0 !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

*:focus, input:focus, textarea:focus, select:focus{
    outline: none !important;
}

.mobile-number-input:focus {
    outline: none !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    border-color: #e1e1e1 !important;
}