#order_review,
.plan-table {
    table th,
    table td {
        border: 0 !important;
        padding:.6em 1em
    }
    table tr th:first-child,
    table tr td:first-child {
        font-weight: bold;
    }
}
#order_review {
    table thead {
        background-color: transparent  !important;
        border-bottom: 1px solid #eee;
    }
}

// #payment,
// #order_review .shop_table {
//     background-color: #fff;
//     padding: 20px 25px !important;
//     border-radius: 15px;
//     box-shadow: 0 0 20px rgba(0,0,0,0.1);
// }
#payment {
    border: 0 !important;
    margin-top: 25px; 
    border-top: 1px solid #eee !important;
    padding-top: 25px; 
    .payment_methods.methods { list-style-type: none; margin-left: 0 }
}
#payment {
    .update-all-subscriptions-payment-method-wrap { display: block; margin-left: 25px; }
}
#order_review {
    thead th, 
    thead td, 
    tfoot th, 
    tfoot td, 
    tbody th, 
    tbody td { padding: 15px 25px !important}
}

.input-group-text-mobile {
    color: #616161; 
    font-size: 1em; 
    background-color:#FFFFFF;
}

.country-code-dropdown {
    width:60px; 
}


.payment-history-row {
    padding-bottom:10px; 
    margin-bottom: 10px; 
    border-bottom: 1px dotted $greyColor;
    &:last-child {
        border-bottom: 0;
    }
    &.payment-history-title {
        border-bottom: 1px solid $greyColor;
        font-weight:bold;
    }
}
