.airports-container {   
    margin-top: 45px;
}

.airport-country-wrapper {
    margin-top: 25px;

    .airport-country-title {
        font-weight: bold;
        padding: 15px 25px 15px 25px;
    }

    .airports-wrapper {
        display:none;
        padding: 0 25px 15px 25px;
    }

}

