.content-box {
    background-color: #fff;
    padding: 20px 25px !important;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);

    .content-box-header {
        font-weight: bold;
        h3 {
            margin: 0;
            font-size: 1.3em;
        }
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    &.no-padding {
        padding: 0 !important;
    }
}

.content-box-radius-right .vc_column-inner {
    border-radius: 0 15px 15px 0;
}

.content-box-radius-left .vc_column-inner {
    border-radius: 15px 0 0 15px;
}


@media (max-width: 990px) {
    .content-box {
        padding: 15px;

        .col-sm-10 {
            padding-left: 0;
            padding-right: 0;
        }

        .form-check {
            padding-left: 0 !important;
            margin-bottom: 15px !important;
        }
    }
    
}