.hotel-ratings-label {
    width: 100%
}

.hotel-rating-star-wrapper {
    margin-left: 5px;
}

.hotel-ratings-star {
    vertical-align: top;
    width:24px;
    height:24px;
    fill: #F8D349;
    // filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.hotel-rating-text {
    font-size: 12px;
    margin-left:5px;
}

.hotel-rating-item {
    margin-bottom: 25px !important;
}

.hotel-rating-item:first-child {
    margin-top: 25px !important;
}