.map {
    display: block;
    position: relative;
    max-width:500px; 
    height: 300px; 
    margin: 0 auto;
    img {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        // height: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .map {
        display:none
    }
}
