// .rangeslider__fill {
//     background-color: #d4edda
// }

// body{
// 	min-height: 100vh;
// 	padding: 0 10vh;
// 	margin: 0;
// 	position: relative;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// }
input[type=range] {
	-webkit-appearance: none;
	margin: 20px 0;
	width: 100%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: $secondaryColor;
	border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	border: 2.8px solid $primaryColor;
//     border-radius: 16px;
	// box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: $primaryColor;
}
.range-wrap{
	max-width: 500px;
	width: 100%;
	position: relative;
}
.range-value{
	position: absolute;
	top: -39px;
}
.range-value span{
	min-width: 55px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	background: $darkColor;
	color: #fff;
	font-size: 14px;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 6px;
	padding: 0 5px;
}
.range-value span:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid $darkColor;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}

.range-slider-row {
	margin-top:35px;
}

@media screen and ( max-width: 768px) {
	.range-slider-row .range-wrap {
		margin-top: 40px;
	}
}


// /*Chrome*/
// @media screen and (-webkit-min-device-pixel-ratio:0) {
//     input[type='range'] {
//       overflow: hidden;
//       width: 80px;
//       -webkit-appearance: none;
//       background-color: #9a905d;
//     }
    
//     input[type='range']::-webkit-slider-runnable-track {
//       height: 10px;
//       -webkit-appearance: none;
//       color: #13bba4;
//       margin-top: -1px;
//     }
    
//     input[type='range']::-webkit-slider-thumb {
//       width: 10px;
//       -webkit-appearance: none;
//       height: 10px;
//       cursor: ew-resize;
//       background: #434343;
//       box-shadow: -80px 0 0 80px #43e5f7;
//     }

// }
// /** FF*/
// input[type="range"]::-moz-range-progress {
//   background-color: #43e5f7; 
// }
// input[type="range"]::-moz-range-track {  
//   background-color: #9a905d;
// }
// /* IE*/
// input[type="range"]::-ms-fill-lower {
//   background-color: #43e5f7; 
// }
// input[type="range"]::-ms-fill-upper {  
//   background-color: #9a905d;
// }
