.woocommerce {
    .woocommerce-info {
        border-radius: 15px; 
    }
    
    .col-1, .col-2 {
        max-width:none;
    }

    .shop_table {
        &.woocommerce-checkout-review-order-table {
            display:none;
            td {
                border-top: 0
            }
            thead,
            .cart-subtotal,
            .recurring-totals { 
                display:none 
            }
        }
    }
    label[for=payment_method_stripe] {
        display:none
    }
}

.woocommerce-billing-fields .form-row, 
.woocommerce-shipping-fields .form-row,
.woocommerce form .form-row {
    display: block;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: transparent !important;
    border: 0 !important;
}

.payment_box.payment_method_stripe {
    background: transparent !important;
    padding: 0 !important;
    margin-top:0 !important;
}

#payment_method_stripe,
.woocommerce-checkout #payment div.payment_box::before {
    display: none !important;
}

#stripe-card-element {
    padding:15px;
}

.change_payment_method {
    background-color: #177873 !important;
}

.woocommerce-Price-amount.amount {
    color: $textColor !important
}

.woocommerce-product-gallery,
.summary.entry-summary {
    width: 100% !important;
    float: none !important;
}

.woocommerce-checkout-payment {
    border: 0 !important;
    padding: 0 !important;
}

.woocommerce-checkout {
    .row {
        .col-md-6.offset-md-3,
        .col-md-8.offset-md-2 {
            width: 100%;
        }
    }
}


.woocommerce-SavedPaymentMethods {
    list-style: none;
    margin-bottom: 0;
    .control_indicator {
        margin-top: -1px;
    }
}

label[for=payment_method_stripe] {
    img { 
        margin-top:10px !important;
    }
}

#stripe-payment-data {
    p, label[for=card-element] { display: none}
}


.payment-history-total {
    text-align:right;
}

.mobile { display: none }

.subscription_details .button.cancel {
    margin-bottom:15px; 
    background:transparent; 
    color: #3cc6bf; 
    border:1px solid #3cc6bf;
    // border: 0;
}

@media (max-width: 990px) {
    .payment-history-total {
        text-align:left;
    }

    .desktop { display: none }
    .mobile { display: block }

    .payment-history-title { font-weight:bold; }
    .payment-history-row .col {
        margin-bottom: 15px;
    }
}