
// $tablet_width: 900px;
// $mobile_width: 480px;
// $sm_mobile_width: $mobile_width;

// $fa-font-path: "../libs/fontawesome/webfonts";
// @import '../libs/fontawesome/scss/fontawesome';
// @import "base/fonts";
@import "variables/colors";

// BASE
@import "base/alerts";
@import "base/buttons";
@import "base/core";
@import "base/form";
@import "base/grid";
// @import "base/input-range-slider";
@import "base/list";

// COMPONENTS
// core
@import "components/checkbox";
@import "components/content-box";
@import "components/map";
@import "components/radio-button";
@import "components/range-slider";
@import "components/select-all";
@import "components/woocommerce";

// sections
@import "components/account";
@import "components/airports";
@import "components/budget";
@import "components/faq";
@import "components/hotel-ratings";
@import "components/select-plan";

@import "base/overrides";